@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700");
@import "cssreset.css";
@import "landing-page/top-section.css";
@import "landing-page/services-section.css";
@import "landing-page/portfolio-section.css";
@import "landing-page/experience-section.css";
@import "landing-page/blog-section.css";
@import "landing-page/testimonials-section.css";
@import "portfolio/portfolio-projects.css";
@import "landing-page/contact-section.css";
@import "footer-section.css";

body {
  background: #eeeeee;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  position: static; 
  width: 100%;
  top: 0;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  z-index: 100000;  
  background: #ffc853; 
}

header.sticky {
padding: 5px, 100px;
}

header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  display: flex;
}
header .logo .name {
  background: black;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}
header .header-menu {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-menu a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  
  
}
header .header-menu a:hover {
  font-weight: 700;
  color: #52b7fe;
}
header .menu-btn {
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.6rem;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  background: #fff;
  flex-direction: column;
  padding: 40px 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 10;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 2px 0px 78px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 78px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 78px -15px rgba(0, 0, 0, 0.75);
}
.mobile-menu.active {
  transform: translate3d(0, 0, 0);
  background-color: black;
  width: 30%;
  height: 50%;
}
.mobile-menu a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  }
.mobile-menu a:hover {
  text-decoration: none;
  color: black;
  background:#ffc853;
}


@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  button,
  .btn,
  .btn-primary {
    margin-left: 92px;
    width: 69%;
  }
  header {
    position: none;
  }
}
/* Phones */
@media only screen and (max-width: 767px) {
  header .header-menu {
    display: none;
  }
  header .menu-btn {
    display: flex;
  }
  header .logo {
    font-size: 1.3rem;
  }
  .mobile-menu {
    display: flex;
  }
  button,
  .btn,
  .btn-primary {
    margin: 0 auto;
    width: 100%;
  }
}
